# Xcode
.DS_Store
*/build/
*.derivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods (如果以后用的话)
Pods/

# Fastlane
fastlane/report.xml
fastlane/screenshots

# Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
